@charset "utf-8";
/* CSS Document */
/* common */
body,div,h1,h2,h3,h4,h5,h6,dl,dd,dt,p,a,form,select,input,ul,ol,li{
    margin:0;
    padding:0;
    text-indent:0;
    font-weight:normal;
    font-size:14px;
    font-family:'Microsoft YaHei', sans-serif;
    color:#000000;
}
ul,ol{
    list-style:none;
    text-indent:0;
    list-style-position:outside;
}
img{
    border:0;
}
b{
    font-weight:normal
}
.fl{
    float:left;
    display:inline;
}
.fr{
    float:right;
    display:inline;
}
/* link : style */
a{
    text-decoration:none;
}
a:hover{
    text-decoration:none;
}
/*clear*/
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}



.browserupgrade{
    margin:0;
    z-index:9999;
    width:100%;
    height:42px;
    color:#e50b71;
    text-indent:20px;
    line-height:42px;
    overflow:hidden;
    background:#222222;
    border-bottom:4px solid #000000;
}
.browserupgrade a{
    font-size:16px;
    color:#fdc12d;
    cursor:pointer;
}
.browserupgrade a.brow-close{
    font-size:14px;
    margin-right:20px;
    float:right;
}
/*ie7*/
.ie7-alert{
    left:50%;
    top:50%;
    margin-left:-276px;
    margin-top:-238px;
    width:551px;
    height:476px;
    position:fixed;
    z-index:9999;
    background:url("../img/ie7.png") no-repeat center;
}
.ie7-alert a{
    top:121px;
    left:127px;
    width:121px;
    height:33px;
    display:block;
    position:absolute;
    background:url("../img/ie7-btn.png") no-repeat center;
}



html{
    width:100%;
    font-size:62.5%;
    overflow-x:hidden ;
}
body{
    width:100%;
    overflow-x:hidden;
}
body.fixed{
    top:0;
    position:fixed;
}
.wrap.fixed{
    top:0;
    position:fixed;
}
.wrap{
    margin:0 auto;
    width:100%;
    max-width:1920px;
    min-width:1200px;
    overflow:hidden;
    position:relative;
}
.wrap.fixed{
    top:0;
    position:fixed;
}
.main{
    margin:0 auto;
    width:1200px;
}
.header{
    width:100%;
    height:108px;
    z-index:999;
    background:#ffffff;
}
.header .btn-course{
    margin-left:5px;
    float:left;
    width:30px;
    height:30px;
    cursor:pointer;
    display:none;
}
.header .btn-center{
    margin-right:5px;
    float:right;
    width:30px;
    height:30px;
    cursor:pointer;
    display:none;
}
.header .btn-course img,
.header .btn-center img{
    width:30px;
    height:30px;
}
.header .logo{
    margin-top:35px;
    float:left;
    width:151px;
    height:45px;
    display:block;
}
.header .logo-text{
    margin-top:38px;
    margin-left:24px;
    float:left;
    font-size:16px;
    line-height:23px;
}
.header .choose{
    margin-top:46px;
    margin-left:74px;
    float:left;
    transition:0.2s;
}
.header .choose select{
    margin-right:8px;
    padding:9px 9px 9px 30px;
    width:262px;
    float:left;
    font-size:13px;
    border:1px solid #f19187;
    /*��Ĭ�ϵ�selectѡ�����ʽ���*/
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance:none;
}
.header .choose select#course{
    background:url("../img/sel-tag1.png") no-repeat 8px center;
}
.header .choose select#city{
    background:url("../img/sel-tag2.png") no-repeat 8px center;
}
.header .contact{
    margin-top:52px;
    float:right;
}
.header .contact .phone{
    padding-left:24px;
    line-height:24px;
    font-size:24px;
    background:url("../img/phone.png") no-repeat left center;
}
.header .contact ul.share{
    margin-top:10px;
}
.header .contact ul.share li{
    float:right;
    margin-left:9px;
    line-height:12px;
    position:relative;
}
.header .contact ul.share li a{
    font-size:12px;
    cursor:pointer;
    color:#848484;
}
.header .contact ul.share li span{
    margin-right:3px;
}
.header .contact ul.share li span.c1{
    color:#ff7e74;
}
.header .contact ul.share li span.c2{
    color:#6fd444;
}
.header .contact ul.share li img{
    top:20px;
    left:50%;
    display:block;
    position: absolute;
    width:0;
    height:0;
    z-index:9999;
    transition:0.2s;
}
.header .contact ul.share li:hover img{
    top:15px;
    margin-left:-36px;
    width:90px;
    height:90px;
    padding:5px;
    background:#ffffff;
    border:1px solid #696a6b;
    transition:0.4s;
}
.content{
    margin:0 auto;
    width:100%;
    position:relative;
}
.content .nav{
    height:49px;
    overflow:hidden;
}
.content .nav ul{
    padding-top:9px;
    margin-left:228px;
    float:left;
}
.content .nav ul li{
    padding-bottom:9px;
    margin-left:34px;
    float:left;
}
.content .nav ul li a{
    padding-bottom:9px;
    font-size:16px;
    border-bottom:2px solid #ffffff;
    transition:0.2s;
}
.content .nav ul li.act a{
    border-bottom:2px solid #d40067;
}
.content .nav ul li:hover a{
    color:#e2006d;
    transition:0.2s;
}
.content .students .box .info h4{
    margin-top:0;
    text-align:center;
    font-size:15px;
    color:#ffffff;
    line-height:40px;
    height:40px;
    transition:0.2s;
    overflow:hidden;
}
.content .students .box:hover .info h4{
    margin-top:10px;
    transition:0.2s;
}

.sidenav{
    margin-left:-600px;
    top:0;
    left:50%;
    width:228px;
    height:449px;
    z-index:9999;
    background:#c40461;
    position:absolute;
    transition:0.2s;
}
.sidenav h2{
    height:49px;
    font-size:18px;
    line-height:49px;
    text-indent:17px;
    color:#ffffff;
    background:#e2006d;
}
.sidenav h2 a{
    margin-right:8%;
    float:right;
    width:12px;
    height:49px;
    cursor:pointer;
    display:none;
    background:url("../img/sidenav-jt.png") no-repeat center;
}
.sidenav ul{
    margin-top:22px;
}
.sidenav ul li{
    margin-bottom:24px;
    float:left;
    width:50%;
    line-height:14px;
    text-indent:20px;
    color:#ffffff;
}
.sidenav ul li a{
    color:#ffffff;
}
.sidenav .m-link{
    padding-bottom:20px;
    margin-top:20px;
    display:none;
}
.sidenav .m-link p{
    margin-left:10%;
}
.sidenav .m-link p a{
    font-size:16px;
    line-height:30px;
    color:#adadad;
}
.content .banner{
    width:100%;
    height:400px;
    overflow:hidden;
    position:relative;
}
.content .banner .swiper-container{
    width:100%;
    height:400px;
}
.content .banner .swiper-container .swiper-wrapper{
    width:100%;
    height:400px;
}
.content .banner .swiper-container .swiper-slide{
    width:100%;
    height:400px;
    overflow:hidden;
    position:relative;
}
.content .banner .swiper-container .swiper-slide img{
    top:0;
    left:50%;
    margin-left:-960px;
    width:1920px;
    height:400px;
    display:block;
    position:absolute;
    transition:0.2s;
}
.content .banner .pagination {
    bottom:20px;
    width:100%;
    z-index:20;
    text-align:center;
    position:absolute;
}
.content .banner .swiper-pagination-switch {
    margin:0 5px;
    width:40px;
    height:5px;
    cursor:pointer;
    display:inline-block;
    background:#d2d6d9;
}
.content .banner .swiper-active-switch {
    background:#fdc12d;
}
.content .hot{
    margin-top:22px;
}
.content .hot .container{
    width:1212px;
}
.content .hot .box{
    margin-right:13px;
    float:left;
    width:288px;
    height:88px;
    overflow:hidden;
    position:relative;
    border:1px solid #e4e4e4;
    transition:0.5s;
}
.content .hot .box.tag1{
    background:url("../img/hot-tag1.png") no-repeat 25px center;
}
.content .hot .box.tag2{
    background:url("../img/hot-tag2.png") no-repeat 25px center;
}
.content .hot .box.tag3{
    background:url("../img/hot-tag3.png") no-repeat 25px center;
}
.content .hot .box.tag4{
    background:url("../img/hot-tag4.png") no-repeat 25px center;
}
.content .hot .box a{
    cursor:pointer;
}
.content .hot .box .aaaaaaa{
    cursor:pointer;
}
.content .hot .box .info{
    margin-top:21px;
    margin-left:85px;
}
.content .hot .box .info h2{
    font-size:25px;
    color:#666666;
}
.content .hot .box .info p{
    font-size:13px;
    color:#999999;
}
.content .hot .box .link{
    top:100%;
    width:100%;
    height:100%;
    position:absolute;
    background:#e2006d;
    background:rgba(226,0,109,0.8);
    transition:0.2s;
}
.content .hot .box:hover .link{
    top:0;
    transition:0.2s;
}
.content .hot .box .link p{
    top:50%;
    left:50%;
    margin-top:-16px;
    margin-left:-30%;
    color:#ffffff;
    width:60%;
    font-size:16px;
    line-height:32px;
    text-align:center;
    position:absolute;
    border:1px solid #ffffff;
    border-radius:10px;
}
.play-vedio{
    top:50%;
    left:50%;
    margin-left:-400px;
    margin-top:-250px;
    padding:20px;
    z-index:99999;
    display:none;
    background:#ffffff;
    position:fixed;
    border:3px solid #000000;
    border-radius:5px;
}
.play-vedio .vedio-close{
    right:3px;
    top:3px;
    font-size:18px;
    font-weight:bold;
    color:#ffffff;
    height:18px;
    width:18px;
    display:block;
    cursor:pointer;
    line-height:14px;
    text-align:center;
    background:#cd1c1e;
    position:absolute;
}
.play-vedio embed{
}
.content .title{
    margin:0 auto;
    padding:68px 0 34px;
    max-width:1200px;
    width:100%;
    transition:0.2s;
}
.content .title h2{
    font-size:34px;
    line-height:34px;
    color:#bebebe;
    text-align:center;
    transition:0.2s;
}
.content .title h2 img{
    margin-right:15px;
    float:right;
    width:15px;
    height:25px;
    display:none;
}
.content .title h3{
    margin-top:15px;;
    font-size:18px;
    line-height:18px;
    color:#bebebe;
    text-align:center;
    transition:0.2s;
}
.content .new{

}
.content .new .container{
    padding:50px 0 25px;
    width:1220px;
    border-top:1px dashed #ececec;
    border-bottom:1px dashed #ececec;
}
.content .new .main .newDiv{
    height:268px;
    overflow:hidden;
    transition:0.5s;
}
.content .new .main .box{
    margin-top:34px;
    margin-right:20px;
    float:left;
    width:380px;
    height:100px;
}
.content .new .main .box .img{
    float:left;
    width:110px;
    height:100px;
    overflow:hidden;
}
.content .new .main .box img{
    width:110px;
    height:100px;
    display:block;
}
.content .new .main .box .info{
    float:right;
    width:255px;
}
.content .new .main .box .info h3{
    font-size:16px;
    line-height:22px;
    height:44px;
    width:100%;
    overflow:hidden;
    transition:0.2s;
}
.content .new .main .box:hover .info h3{
    color:#e2006d;
    transition:0.2s;
}
.content .new .main .box .info p{
    margin-top:6px;
    line-height:22px;
    height:22px;
    color:#666666;
    overflow:hidden;
}
.content .new .main .box .info span.time,
.content .new .main .box .info a.share{
    margin-top:12px;
    padding-left:22px;
    font-size:13px;
    color:#b0b0b0;
    display:inline-block;
}
.content .new .main .box .info span.time{
    margin-right:30px;
    background:url("../img/new-time.png") no-repeat left center;
}
.content .new .main .box .info a.share{
    background:url("../img/new-share.png") no-repeat left center;
}
.content .more{
    margin-top:25px;
    text-align:center;
    display:none;
}
.content .more a{
    color:#b0b0b0;
    transition:0.2s;
}
.content .more a:hover {
    color:#e2006d;
    transition:0.2s;
}
.content a.jt{
    margin:25px auto;
    width:28px;
    height:16px;
    display:block;
    cursor:pointer;
    background-position:center;
    background-repeat:no-repeat;
    background-image:url("../img/jt.png");
}
.content .choose{
}
.content .choose .container{
    width:1220px;
}
.content .choose .chooseDiv{
    height:372px;
    overflow:hidden;
    transition:0.5s;
}
.content .choose .box{
    float:left;
    margin-right:20px;
    margin-bottom:22px;
    width:285px;
    height:164px;
    overflow:hidden;
    position:relative;
}
.content .choose .box img{
    left:50%;
    margin-left:-142.5px;
    width:285px;
    height:164px;
    display:block;
    position:absolute;
}
.content .choose .box .info{
    bottom:0;
    width:100%;
    height:35px;
    position:absolute;
    background:#000000;
    background:rgba(40,40,40,0.8);
}
.content .choose .box .info p{
    font-size:18px;
    line-height:35px;
    color:#ffffff;
    text-align:center;
}
.content .course{
    padding-bottom:68px;
    background:#f7f7f7;
}
.content .course .container{
    width:1210px;
}
.content .course .container  div{
    float:left;
}
.content .course .ctn{
    float:left;
    width:604px;
}
.content .course .ctn1{
    width:100%;
}
.content .course .ctn2{
    width:50%;
}
.content .course .box{
    margin-right:10px;
    margin-bottom:10px;
    position:relative;
    overflow:hidden;
}
.content .course .box.big{
    width:292px;
    height:292px;
}
.content .course .box.middle{
    width:292px;
    height:141px;
}
.content .course .box.small{
    width:141px;
    height:141px;
}
.content .course .box img{
    display:block;
}
.content .course .box.big img{
    width:292px;
    height:292px;
}
.content .course .box.middle img{
    width:292px;
    height:141px;
}
.content .course .box.small img{
    width:141px;
    height:141px;
}
.content .course .box .info{
    top:100%;
    width:100%;
    height:100%;
    position:absolute;
    transition:0.5s;
    overflow:hidden;
    background:#000000;
    background:rgba(0,0,0,0.8);
}
.content .course .box:hover .info{
    top:0;
    width:100%;
    height:100%;
    transition:0.5s;
}
.content .course .box .info a{
    display:block;
}
.content .course .box .info h3{
    text-align:center;
    font-size:20px;
    color:#e74717;
}
.content .course .box .info p{
    font-size:14px;
    text-align:center;
    color:#ffffff;
}

.content .course .box.big .info h3{
    font-size:20px;
    margin-top:45%;
}
.content .course .box.middle .info h3{
    margin-top:15%;
}
.content .course .box.small .info h3{
    font-size:18px;
    margin-top:40%;
}
.content .teacher{
    position:relative;
}
.content .teacher .main{
    overflow:hidden;
}
.content .teacher ul{
    margin:0 auto;
    width:1210px;
}
.content .teacher ul li{
    float:left;
    text-align:center;
}
.content .teacher ul li a{
    padding:0 12.6px;
    padding-bottom:16px;
    display:block;
    font-size:14px;
    font-family:'Arial',sans-serif;
    height:14px;
    line-height:14px;
    position:relative;
    border-bottom:2px solid #cccccc;
}
.content .teacher ul li img{
    left:50%;
    margin-left:-5px;
    bottom:0;
    width:10px;
    height:5px;
    display:none;
    position:absolute;
}
.content .teacher ul li.act img{
    display:block;
}
.content .teacher ul li.act a{
    border-bottom:2px solid #ca4880;
}
.content .teacher .teacher-banner{
    margin-top:20px;
	max-height:340px;
    height:auto;
    overflow:hidden;
}
.content .teacher .teacher-banner .swiper-container2 .swiper-slide{
    box-sizing:border-box;
    overflow:hidden;

}
.content .teacher .teacher-banner .box{
    margin:0 auto;
    max-width:232px;
    width:232px;
    height:340px;
    position:relative;
    overflow:hidden;
}
.content .teacher .teacher-banner .box img{
    left:50%;
    margin-left:-50%;
    width:auto;
    height:100%;
    display:block;
    position:absolute;
}
.content .teacher .teacher-banner .box .info{
    top:280px;
    width:100%;
    height:180px;
    position:absolute;
    background:#000000;
    background:rgba(31,31,31,0.8);
    transition:0.2s;
}
.content .teacher .teacher-banner .box .info h2{
    margin-top:12px;
    margin-left:12px;
    font-size:16px;
    line-height:16px;
    color:#ffffff;
}
.content .teacher .teacher-banner .box .info h3{
    margin-top:8px;
    margin-left:12px;
    line-height:14px;
    color:#ffffff;
}
.content .teacher .teacher-banner .box .info p{
    margin:12px 12px 0;
    padding-top:12px;
    line-height:22px;
    color:#ffffff;
    border-top:1px solid #ffffff;
}
.content .teacher .teacher-banner .box:hover .info{
    top:160px;
    transition:0.2s;
}
.swiper-scrollbar {
    bottom:10px;
    width:0;
    height:0;
    background: rgba(0,0,0,0.1);
    border-radius: 5px;
    overflow:hidden;
    position:absolute;
}
.swiper-scrollbar-drag {
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    background:#6e6e6e;
    border-radius: 5px;
}
.swiper-scrollbar-cursor-drag {
    cursor: move;
}
.content .students .container{
    width:1222px;
}
.content .students .stuDiv{
    height:376px;
    overflow:hidden;
    transition:0.5s;
}
.content .students .box{
    margin-bottom:24px;
    margin-right:23px;
    float:left;
    width:282px;
    height:164px;
    overflow:hidden;
    position:relative;
}
.content .students .box img{
    left:50%;
    margin-left:-141px;
    width:282px;
    height:164px;
    display:block;
    position:absolute;
}
.content .students .box .info{
    top:124px;
    width:100%;
    height:100%;
    text-align:center;
    position:absolute;
    background:#1f1f1f;
    background:rgba(31,31,31,0.8);
    overflow:hidden;
    transition:0.2s;

}
.content .students .box:hover .info{
    top:0;
    transition:0.2s;
}
.content .students .box .info h2{
    margin-top:0%;
    font-size:20px;
    text-align:center;
    color:#ffffff;
}
.content .students .box .info h3{
    margin-top:5px;
    font-size:18px;
    text-align:center;
    color:#ffffff;
}
.content .students .box .info p{
    margin-top:5px;
    font-size:24px;
    text-align:center;
    color:#ffffff;
}
.content .firm .container{
    width:1210px;
}
.content .firm .firmDiv{
    height:423px;
    overflow:hidden;
    transition:0.5s;
}
.content .firm .box{
    margin-right:10px;
    margin-bottom:13px;
    float:left;
    width:230px;
    height:128px;
    overflow:hidden;
    position:relative;
    background:#eeeeee;
    border:1px solid #eeeeee;
    transition:0.2s;
}
.content .firm .box:hover{
    background:#314491;
    border:1px solid #314491;
    transition:0.2s;
}
.content .firm .box:hover p{
    color:#ffffff;
    transition:0.2s;
}
.content .firm .box img{
    left:50%;
    margin-left:-115px;
    width:230px;
    height:99px;
    display:block;
    position:absolute;
}
.content .firm .box p{
    top:99px;
    width:100%;
    text-align:center;
    line-height:30px;
    position:absolute;
    transition:0.2s;
}
.content .know .container{
    width:1224px;
}
.content .know .box{
    margin-right:22px;
    float:left;
    width:282px;
    height:259px;
}
.content .know .box h2{
    width:100%;
    height:79px;
    line-height:79px;
    font-size:28px;
    text-align:center;
    color:#ffffff;
}
.content .know .box ul{
    margin-left:20px;
    margin-top:22px;
}
.content .know .box ul li{
    margin-bottom:16px;
    line-height:14px;
}
.content .know .box ul li a{
    transition:1s;
}
.content .know .box.c1{
    border:1px solid #314491;
}
.content .know .box.c1 h2{
    background:#314491;
}
.content .know .box.c2{
    border:1px solid #e72a86;
}
.content .know .box.c2 h2{
    background:#e72a86;
}
.content .know .box.c3{
    border:1px solid #4a97cf;
}
.content .know .box.c3 h2{
    background:#4a97cf;
}
.content .know .box.c4{
    border:1px solid #f0a122;
}
.content .know .box.c4 h2{
    background:#f0a122;
}
.content .know .box.c1 ul li a:hover{
    color:#314491;
    transition:0.2s;
}
.content .know .box.c2 ul li a:hover{
    color:#e72a86;
    transition:0.2s;
}
.content .know .box.c3 ul li a:hover{
    color:#4a97cf;
    transition:0.2s;
}
.content .know .box.c4 ul li a:hover{
    color:#f0a122;
    transition:0.2s;
}
.content .audition .container{
    width:1220px;
}
.content .audition .audDiv{
    height:498px;
    overflow:hidden;
    transition:0.5s;
}
.content .audition .box{
    margin-bottom:20px;
    margin-right:20px;
    float:left;
    width:282px;
    height:229px;
    overflow:hidden;
    position:relative;
    border:1px solid #e4e4e4;
    transition:0.2s;
}
.content .audition .box:hover{
    border:1px solid #e72a86;
    transition:0.2s;
}
.content .audition .box img{
    top:0;
    left:50%;
    margin-left:-141px;
    width:282px;
    height:164px;
    display:block;
    position:absolute;
}
.content .audition .box h2{
    margin-top:180px;
    margin-left:10px;
    font-size:13px;
    line-height:13px;
    color:#d40067;
}
.content .audition .box h3{
    padding-left:20px;
    margin-top:10px;
    margin-left:10px;
    font-size:12px;
    line-height:14px;
    color:#999999;
    background:url("../img/audition-time.png") no-repeat left center;
}
.content .audition .box a{
    display:block;
}
.content .map{

}
.content .map .main{
    padding:30px 0;
    width:100%;
    background:#f7f7f7;
}
.content .map .container{
    margin:0 auto;
    width:862px;
    height:723px;
    position:relative;
    background:url("../img/map.png") no-repeat center;
}
.content .map .container span.map{
    display:block;
    transition:0.2s;
    position:absolute;
}
.content .map .container span.map1{
    top:265px;
    left:630px;
    width:28px;
    height:27px;
    background:url("../img/map1.png") no-repeat center;
}
.content .map .container span.map2{
    top:284px;
    left:650px;
    width:18px;
    height:24px;
    background:url("../img/map2.png") no-repeat center;
}
.content .map .container span.map3{
    top:231px;
    left:604px;
    width:88px;
    height:130px;
    background:url("../img/map3.png") no-repeat center;
}
.content .map .container span.map4{
    top:0;
    left:670px;
    width:192px;
    height:178px;
    background:url("../img/map4.png") no-repeat center;
}
.content .map .container span.map5{
    top:316px;
    left:632px;
    width:112px;
    height:74px;
    background:url("../img/map5.png") no-repeat center;
}
.content .map .container span.map6{
    top:303px;
    left:488px;
    width:83px;
    height:151px;
    background:url("../img/map6.png") no-repeat center;
}
.content .map .container span.map7{
    top:360px;
    left:561px;
    width:99px;
    height:91px;
    background:url("../img/map7.png") no-repeat center;
}
.content .map .container span.map8{
    top:373px;
    left:658px;
    width:99px;
    height:77px;
    background:url("../img/map8.png") no-repeat center;
}
.content .map .container span.map9{
    top:435px;
    left:743px;
    width:12px;
    height:15px;
    background:url("../img/map9.png") no-repeat center;
}
.content .map .container span.map10{
    top:446px;
    left:700px;
    width:68px;
    height:74px;
    background:url("../img/map10.png") no-repeat center;
}
.content .map .container span.map11{
    top:413px;
    left:351px;
    width:185px;
    height:158px;
    background:url("../img/map11.png") no-repeat center;
}
.content .map .container span.map12{
    top:451px;
    left:482px;
    width:79px;
    height:74px;
    background:url("../img/map12.png") no-repeat center;
}
.content .map .container span.map13{
    top:426px;
    left:534px;
    width:130px;
    height:80px;
    background:url("../img/map13.png") no-repeat center;
}
.content .map .container span.map14{
    top:487px;
    left:544px;
    width:94px;
    height:105px;
    background:url("../img/map14.png") no-repeat center;
}
.content .map .container span.map15{
    top:574px;
    left:569px;
    width:130px;
    height:108px;
    background:url("../img/map15.png") no-repeat center;
}
.content .map .container span.map16{
    top:9px;
    left:359px;
    width:377px;
    height:337px;
    background:url("../img/map16.png") no-repeat center;
}
.content .map .container span.map17{
    top:508px;
    left:345px;
    width:154px;
    height:161px;
    background:url("../img/map17.png") no-repeat center;
}
.content .map .container span.map18{
    top:506px;
    left:673px;
    width:72px;
    height:94px;
    background:url("../img/map18.png") no-repeat center;
}
.content .map .container span.map19{
    top:199px;
    left:678px;
    width:97px;
    height:89px;
    background:url("../img/map19.png") no-repeat center;
}
.content .map .container span.map20{
    top:143px;
    left:701px;
    width:141px;
    height:97px;
    background:url("../img/map20.png") no-repeat center;
}
.content .map .container span.map21{
    top:561px;
    left:470px;
    width:135px;
    height:99px;
    background:url("../img/map21.png") no-repeat center;
}
.content .map .container span.map22{
    top:389px;
    left:640px;
    width:79px;
    height:95px;
    background:url("../img/map22.png") no-repeat center;
}
.content .map .container span.map23{
    top:277px;
    left:557px;
    width:57px;
    height:122px;
    background:url("../img/map23.png") no-repeat center;
}
.content .map .container span.map24{
    top:477px;
    left:627px;
    width:81px;
    height:112px;
    background:url("../img/map24.png") no-repeat center;
}
.content .map .container span.map25{
    top:509px;
    left:454px;
    width:103px;
    height:90px;
    background:url("../img/map25.png") no-repeat center;
}
.content .map .container span.map26{
    top:682px;
    left:552px;
    width:42px;
    height:41px;
    background:url("../img/map26.png") no-repeat center;
}
.content .map .container span.map27{
    top:243px;
    left:285px;
    width:245px;
    height:199px;
    background:url("../img/map27.png") no-repeat center;
}
.content .map .container span.map28{
    top:310px;
    left:468px;
    width:42px;
    height:77px;
    background:url("../img/map28.png") no-repeat center;
}
.content .map .container span.tw{
    top:554px;
    left:752px;
    width:27px;
    height:69px;
    background:url("../img/tw.png") no-repeat center;
}


.content .map .container span.map1.act1,
.content .map .container span.map1.act2{
    background:url("../img/map1-act.png") no-repeat center;
}
.content .map .container span.map2.act1,
.content .map .container span.map2.act2{
    background:url("../img/map2-act.png") no-repeat center;
}
.content .map .container span.map3.act1,
.content .map .container span.map3.act2{
    background:url("../img/map3-act.png") no-repeat center;
}
.content .map .container span.map4.act1,
.content .map .container span.map4.act2{
    background:url("../img/map4-act.png") no-repeat center;
}
.content .map .container span.map5.act1,
.content .map .container span.map5.act2{
    background:url("../img/map5-act.png") no-repeat center;
}
.content .map .container span.map6.act1,
.content .map .container span.map6.act2{
    background:url("../img/map6-act.png") no-repeat center;
}
.content .map .container span.map7.act1,
.content .map .container span.map7.act2{
    background:url("../img/map7-act.png") no-repeat center;
}
.content .map .container span.map8.act1,
.content .map .container span.map8.act2{
    background:url("../img/map8-act.png") no-repeat center;
}
.content .map .container span.map9.act1,
.content .map .container span.map9.act2{
    background:url("../img/map9-act.png") no-repeat center;
}
.content .map .container span.map10.act1,
.content .map .container span.map10.act2{
    background:url("../img/map10-act.png") no-repeat center;
}
.content .map .container span.map11.act1,
.content .map .container span.map11.act2{
    background:url("../img/map11-act.png") no-repeat center;
}
.content .map .container span.map12.act1,
.content .map .container span.map12.act2{
    background:url("../img/map12-act.png") no-repeat center;
}
.content .map .container span.map13.act1,
.content .map .container span.map13.act2{
    background:url("../img/map13-act.png") no-repeat center;
}
.content .map .container span.map14.act1,
.content .map .container span.map14.act2{
    background:url("../img/map14-act.png") no-repeat center;
}
.content .map .container span.map15.act1,
.content .map .container span.map15.act2{
    background:url("../img/map15-act.png") no-repeat center;
}
.content .map .container span.map16.act1,
.content .map .container span.map16.act2{
    background:url("../img/map16-act.png") no-repeat center;
}
.content .map .container span.map17.act1,
.content .map .container span.map17.act2{
    background:url("../img/map17-act.png") no-repeat center;
}
.content .map .container span.map18.act1,
.content .map .container span.map18.act2{
    background:url("../img/map18-act.png") no-repeat center;
}
.content .map .container span.map19.act1,
.content .map .container span.map19.act2{
    background:url("../img/map19-act.png") no-repeat center;
}
.content .map .container span.map20.act1,
.content .map .container span.map20.act2{
    background:url("../img/map20-act.png") no-repeat center;
}
.content .map .container span.map21.act1,
.content .map .container span.map21.act2{
    background:url("../img/map21-act.png") no-repeat center;
}
.content .map .container span.map22.act1,
.content .map .container span.map22.act2{
    background:url("../img/map22-act.png") no-repeat center;
}
.content .map .container span.map23.act1,
.content .map .container span.map23.act2{
    background:url("../img/map23-act.png") no-repeat center;
}
.content .map .container span.map24.act1,
.content .map .container span.map24.act2{
    background:url("../img/map24-act.png") no-repeat center;
}
.content .map .container span.map25.act1,
.content .map .container span.map25.act2{
    background:url("../img/map25-act.png") no-repeat center;
}
.content .map .container span.map26.act1,
.content .map .container span.map26.act2{
    background:url("../img/map26-act.png") no-repeat center;
}
.content .map .container span.map27.act1,
.content .map .container span.map27.act2{
    background:url("../img/map27-act.png") no-repeat center;
}
.content .map .container span.map28.act1,
.content .map .container span.map28.act2{
    background:url("../img/map28-act.png") no-repeat center;
}


.content .map .container a.tag{
    padding-left:30px;
    font-size:18px;
    font-weight:bold;
    line-height:30px;
    height:30px;
    cursor:pointer;
    display:block;
    position:absolute;
    background:url("../img/map-tag1.png") no-repeat left center;
    transition:0.2s;
}
.content .map .container a.tag:hover,
.content .map .container a.tag.act{
    color:#ff3333;
    background:url("../img/map-tag2.png") no-repeat left center;
    transition:0.2s;
}
.content .map .container a.tag1{
    left:630px;
    top:255px;
}
.content .map .container a.tag2{
    left:645px;
    top:280px;
}
.content .map .container a.tag3{
    left:615px;
    top:305px;
}
.content .map .container a.tag4{
    left:740px;
    top:100px;
}
.content .map .container a.tag5{
    left:660px;
    top:340px;
}
.content .map .container a.tag6{
    left:530px;
    top:360px;
}
.content .map .container a.tag7{
    left:590px;
    top:390px;
}
.content .map .container a.tag8{
    left:700px;
    top:380px;
}
.content .map .container a.tag9{
    left:735px;
    top:420px;
}
.content .map .container a.tag10{
    left:720px;
    top:470px;
}
.content .map .container a.tag11{
    left:410px;
    top:460px;
}
.content .map .container a.tag12{
    left:500px;
    top:480px;
}
.content .map .container a.tag13{
    left:580px;
    top:450px;
}
.content .map .container a.tag14{
    left:580px;
    top:510px;
}
.content .map .container a.tag15{
    left:620px;
    top:590px;
}
.content .map .container a.tag16{
    left:500px;
    top:255px;
}
.content .map .container a.tag17{
    left:380px;
    top:580px;
}
.content .map .container a.tag18{
    left:690px;
    top:535px;
}
.content .map .container a.tag19{
    left:720px;
    top:220px;
}
.content .map .container a.tag20{
    left:750px;
    top:175px;
}
.content .map .container a.tag21{
    top:600px;
    left:515px;
}
.content .map .container a.tag22{
    top:425px;
    left:665px;
}
.content .map .container a.tag23{
    top:330px;
    left:570px;
}
.content .map .container a.tag24{
    top:500px;
    left:650px;
}
.content .map .container a.tag25{
    top:540px;
    left:480px;
}
.content .map .container a.tag26{
    top:685px;
    left:555px;
}
.content .map .container a.tag27{
    top:310px;
    left:410px;
}
.content .map .container a.tag28{
    top:325px;
    left:475px;
}

.content .map .container .box{
    top:50%;
    left:50%;
    margin-left:-400px;
    margin-top:-250px;
    width:800px;
    height:0;
    z-index:9999;
    overflow:hidden;
    position:absolute;
    background:#ffffff;
    transition:0.2s;
}
.content .map .container .box .center{
    margin:40px auto 0;
    width:770px;
    height:445px;
    overflow-y:scroll;
    overflow-x:hidden;
}
.content .map .container .box .center > div{
    width:800px;
    height:auto;
}
.content .map .container .box .center .info{
    float:left;
    margin-right:10px;
    margin-top:10px;
    padding-right:10px;
    width:235px;
    height:120px;
    border-bottom:1px solid #bebebe;
}
.content .map .container .box .center .info h2{
    margin-top:5px;
    font-size:16px;
    color:#333333;
}
.content .map .container .box .center .info h2 a{
    font-size:16px;
    transition:0.2s;
}
.content .map .container .box .center .info h2 a:hover{
    color:#db1516;
    transition:0.2s;
}
.content .map .container .box .center .info p{
    margin-top:5px;
    line-height:22px;
    max-height:44px;
    overflow:hidden;
    font-size:12px;
    font-weight:bold;
    color:#929292;
}
.content .map .container .box .center .info p span{
    font-weight:normal;
}
.content .map .container .box a.cen-close{
    top:7px;
    right:7px;
    font-size:16px;
    line-height:16px;
    cursor:pointer;
    color:#1b98aa;
    position:absolute;
    transition:0.2s;
}
.content .map .container .box a.cen-close:hover{
    color:#db1516;
    transition:0.2s;
}
.swiper-scrollbar2{
    right:5px;
    top:40px;
    height:440px;
    width:16px;
    z-index:9999;
    position:absolute;
    background:#93cbce;
    border-radius:8px;
}
.footer{
    width:100%;
    overflow:hidden;
    background:#2d3237;
}
.footer .top{
    margin:0 auto;
    padding:30px 0;
    width:657px;
}
.footer .top ul{
    margin:0 auto;
    width:80%;
}
.footer .top ul li{
    float:left;
    width:33.33%;
}
.footer .top ul li img{
    margin:0 auto;
    display:block;
}
.footer .top p{
	line-height:26px;
    margin-top:25px;
    font-size:13px;
    color:#999999;
    text-align:center;
}
.footer .top p a{
    margin:0 2px;
    font-size:13px;
    color:#999999;
}
.footer .top .wm{
    margin-top:20px;
    margin-left:283px;
}
.footer .top .wm img{
	width:90px;
    height:90px;
    float:left;
    display:block;
    margin-right:22px;
}

.footer .bottom{
    height:30px;
    line-height:30px;
    background:#23282d;
}
.footer .bottom p{
    height:35px;
    font-size:12px;
    line-height:35px;
    text-align:center;
    color:#515b64;
}




/*�ֻ�����*/
.sjdidian{
    background: #fff;
    position: absolute;
    right: -100%;
    width: 100%;
    top:0;
    display:none;
    overflow: hidden;
    transition: all 0.3s;
    z-index: 9999;
}
.sjddtitle{
    width: 100%;
    box-sizing: border-box;
    text-align:center;
    border-bottom: 1px solid #ededed;
    line-height:60px;
    font-size:24px;
}
.sjddtitle>span{
    margin-top:18px;
    float: left;
    margin-left:15px;
    width:24px;
    height:25px;
    cursor:pointer;
    display:block;
    background:url("../img/center-close.png") no-repeat center;
    background-size:26px 27px;
}
.sjddneirong{
    background: #f3f5f4;
    overflow-x:hidden;
    height:100%;
    overflow-y: visible;
    box-sizing: content-box;
}
.sjddneirong>.sjddcao{
    padding:20px 0;
    overflow: hidden;
}
.sjddneirongs{
    width: 33.333%;
    float: left;
    background: #f3f5f4;
}
.sjddneirongs>div{
    width:80%;
    margin: 0 auto 10px;
    border-radius:5px;
    line-height:40px;
    font-size:18px;
    text-align: center;
    background: #fff;
    color: #666666;
    cursor:pointer;
    box-sizing: border-box;
    border:1px solid #ccc;
    position: relative;
}
.sjddneirongs>ul{
    height: 0;
    overflow: hidden;
    width: 300%;
    background: #fff;
    position: relative;
    z-index: 10;
    transition: height 1s;
    -webkit-transition: height 1s;
    -moz-transition: height 1s;
    -o-transition: height 1s;
}
.sjddneirongs1>ul{
    position: relative;
    left:-100%;
}
.sjddneirongs2>ul{
    position: relative;
    left:-200%;
}
.sjddneirongs>ul>li{
    width: 80%;
    line-height:40px;
    margin: 0 auto;
    border-bottom:1px solid #ededed;
}
.sjddneirongs>ul>li>a{
    font-size: 16px;
}
.sjddneirongs>div>.sanjiao{
    border-bottom: 20px solid #fff;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    width: 0;
    position: absolute;
    bottom:-25px;
    left: 50%;
    margin-left: -8px;
    display: none;
}
/**
��ͬ��Ļ��
*/
@media screen and (max-width: 640px) {
    .sjdidian{
        display:block;
    }
}